<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zdn.obs.dao.CustomerDao">

    <sql id="customerColumn">
         customer_id,
         customer_name,
         customer_password,
         customer_address,
         customer_phone,
         customer_register_date
    </sql>

    <resultMap id="customerResultMap1" type="Customer">
        <id column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="customer_password" property="customerPassword" jdbcType="VARCHAR"/>
        <result column="customer_address" property="customerAddress" jdbcType="VARCHAR"/>
        <result column="customer_phone" property="customerPhone" jdbcType="VARCHAR"/>
        <result column="customer_register_date" property="customerRegisterDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--<resultMap id="customerResultMap2" type="Customer">
        <id column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <result column="customer_password" property="customerPassword" jdbcType="VARCHAR"/>
        <result column="customer_address" property="customerAddress" jdbcType="VARCHAR"/>
        <result column="customer_phone" property="customerPhone" jdbcType="VARCHAR"/>
        <result column="customer_register_date" property="customerRegisterDate" jdbcType="TIMESTAMP"/>

        <collection property="orderList" ofType="Order">
            <id column="order_id" property="orderId" jdbcType="INTEGER"/>
            <result column="confirm_date" property="confirmDate"/>
            <result column="order_state" property="orderState"/>
            <result column="total_price" property="totalPrice"/>
        </collection>

        <collection property="cartList" ofType="Cart">
            <id column="cart_id" property="cartId"/>
            <result column="book_quantity" property="bookQuantity"/>
            <result column="book_total_price" property="bookTotalPrice"/>
        </collection>

        <collection property="contactList" ofType="Contact">
            <id column="contact_id" property="contactId"/>
            <result column="contact_name" property="contactName"/>
            <result column="contact_address" property="contactAddress"/>
        </collection>

        <collection property="commentList" ofType="Comment">
            <id column="comment_id" property="commentId"/>
            <result column="comment_content" property="commentContent"/>
        </collection>
    </resultMap>

    <resultMap id="customerResultMap3" type="Customer">
        <id column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
        <collection property="orderList" ofType="Order">
            <id column="order_id" property="orderId" jdbcType="INTEGER"/>
            <result column="confirm_date" property="confirmDate"/>
            <result column="order_state" property="orderState"/>
            <result column="total_price" property="totalPrice"/>
        </collection>
    </resultMap>-->

    <select id="select" resultMap="customerResultMap1">
        select
        <include refid="customerColumn"/>
        from
        customer
        where
        customer_id=#{customerId}
    </select>

    <select id="selectAll" resultMap="customerResultMap1">
        select
        <include refid="customerColumn"/>
        from
        customer
    </select>

    <select id="selectCustomerByNameAndPassword" resultMap="customerResultMap1">
        select
        <include refid="customerColumn"/>
        from
        customer
        where
        customer_name=#{customerName}
        and
        customer_password=#{customerPassword}
    </select>

    <update id="update" parameterType="Customer">
        update
            customer
        set customer_name=#{customerName},
            customer_address=#{customerAddress},
            customer_phone=#{customerPhone}
        where customer_id = #{customerId}
    </update>

    <insert id="insert" parameterType="Customer">
        insert into customer
        (customer_id,
         customer_name,
         customer_password,
         customer_address,
         customer_phone,
         customer_register_date,
         vip_end_date)
        values (null,
                #{customerName},
                #{customerPassword},
                #{customerAddress},
                #{customerPhone},
                now(),
                null)
    </insert>

    <delete id="delete">
        delete
        from customer
        where customer_id = #{customerId}
    </delete>

    <select id="selectCustomerByCustomerName" resultMap="customerResultMap1">
        select
        <include refid="customerColumn"/>
        from
        customer
        where
        customer_name=#{customerName}
    </select>
</mapper>