<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zdn.obs.dao.OrderDao">

    <sql id="orderColumn">
       order_id,
       confirm_date,
       order_state,
       total_price,
       contact_name,
       contact_phone,
       contact_address,
       customer_id,
       comment_id
    </sql>

    <resultMap id="orderResultMap" type="Order">
        <id column="order_id" property="orderId" jdbcType="INTEGER" />
        <result column="confirm_date" property="confirmDate" jdbcType="TIMESTAMP" />
        <result column="order_state" property="orderState" jdbcType="INTEGER" />
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
        <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
        <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />

        <association property="comment" javaType="Comment">
            <id column="comment_id" property="commentId" jdbcType="INTEGER" />
        </association>

        <association property="customer" javaType="Customer">
            <id column="customer_id" property="customerId" jdbcType="INTEGER" />
        </association>
    </resultMap>


    <select id="select" resultType="Order">
        select
        <include refid="orderColumn"/>
        from
        order
        where
        order_id=#{orderId}
    </select>

    <select id="selectAll" resultType="Order">
        select
        <include refid="orderColumn"/>
        from
        order
    </select>

    <update id="update" parameterType="Order">
        update order
        set confirm_date = #{confirmDate,jdbcType=TIMESTAMP},
            order_state = #{orderState,jdbcType=INTEGER},
            total_price = #{totalPrice,jdbcType=DECIMAL},
            customer_id = #{customerId,jdbcType=INTEGER},
            contact_name = #{contactName,jdbcType=VARCHAR},
            contact_phone = #{contactPhone,jdbcType=VARCHAR},
            contact_address = #{contactAddress,jdbcType=VARCHAR},
            comment_id = #{commentId,jdbcType=INTEGER}
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="Order">
        insert into order (
            order_id, confirm_date, order_state,
            total_price, customer_id, contact_name,
            contact_phone, contact_address, comment_id
        )
        values (
            #{orderId,jdbcType=INTEGER}, #{confirmDate,jdbcType=TIMESTAMP}, #{orderState,jdbcType=INTEGER},
            #{totalPrice,jdbcType=DECIMAL}, #{customerId,jdbcType=INTEGER}, #{contactName,jdbcType=VARCHAR},
            #{contactPhone,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR}, #{commentId,jdbcType=INTEGER}
        )
    </insert>

    <delete id="delete">
        delete from
        order
        where
        order_id=#{orderId}
    </delete>

</mapper>