<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zdn.obs.dao.OrderDao">

    <sql id="orderColumn">
        order_id,
        confirm_date,
        order_state,
        total_price,
        contact_name,
        contact_phone,
        contact_address
    </sql>

    <resultMap id="orderResultMap" type="Order">
        <id column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="confirm_date" property="confirmDate" jdbcType="TIMESTAMP"/>
        <result column="order_state" property="orderState" jdbcType="INTEGER"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="contact_address" property="contactAddress" jdbcType="VARCHAR"/>
    </resultMap>

    <!--后台-->
    <select id="selectAll" resultMap="orderResultMap">
        select
        <include refid="orderColumn"/>
        from
        orders
    </select>

    <select id="selectByOrderId" resultMap="orderResultMap">
        select
        <include refid="orderColumn"/>
        from orders,order_book,book
        where orders.order_id = order_book.order_id
        and order_book.book_id=book.book_id
        and orders.order_id=#{orderId}
    </select>

    <update id="updateOrderState">
        update orders
        set order_state=order_state+1
        where order_id=#{orderId}
    </update>

    <update id="update" parameterType="Order">
        update orders
        set confirm_date=#{confirmDate,jdbcType=TIMESTAMP},
            order_state=#{orderState,jdbcType=INTEGER},
            total_price=#{totalPrice,jdbcType=DECIMAL},
            customer_id=#{customerId,jdbcType=INTEGER},
            contact_name=#{contactName,jdbcType=VARCHAR},
            contact_phone=#{contactPhone,jdbcType=VARCHAR},
            contact_address=#{contactAddress,jdbcType=VARCHAR},
            comment_id=#{commentId,jdbcType=INTEGER}
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="Order">
        insert into orders (order_id, confirm_date, order_state,
                            total_price, customer_id, contact_name,
                            contact_phone, contact_address, comment_id)
        values (#{orderId,jdbcType=INTEGER},
                #{confirmDate,jdbcType=TIMESTAMP},
                #{orderState,jdbcType=INTEGER},
                #{totalPrice,jdbcType=DECIMAL},
                #{customerId,jdbcType=INTEGER},
                #{contactName,jdbcType=VARCHAR},
                #{contactPhone,jdbcType=VARCHAR},
                #{contactAddress,jdbcType=VARCHAR},
                #{commentId,jdbcType=INTEGER})
    </insert>

    <delete id="delete">
        delete
        from orders
        where order_id = #{orderId}
    </delete>

</mapper>